// src/styles/_variables.scss
$primary-color: #7367F0;
$secondary-color: #28C76F;

$background-color: #f6f6f6;
$background-white: #fff;

$font-color: #6E6B7B;
$font-color-soft: #909090b9;

$border-radius: 0.5rem;
$border-color: rgba(128, 128, 128, 0.277);

$font-family: 'Roboto', sans-serif;

$box-shadow: 0px 9px 8px 0px rgba(97, 97, 97, 0.134);
$box-shadow-full: 1px 0px 8px 0px rgba(97, 97, 97, 0.175);
$opacity: 0.8;
$opacity-soft: 0.6;

$spacing-unit: 1rem;
$header-height: 60px;

$transition: 0.3s all ease-in-out;
